.level-wrapper {
	.level-info {
		display: flex;
		justify-content: space-between;
		font-family: Lato;
		font-size: 11px;
		.level-title {
			font-weight: 700;
		}
	}
	.level-border {
		margin-top: 5px;
		height: 14px;
		border-radius: 7px;
		border: solid 0.7px #eeeeee;
		background-color: #ffffff;
		.level-progress {
			height: 14px;
			border-radius: 7px;
		}
	}
}
