.navigation-wrapper {
	height: 45px;
	background-color: white;
	.navigation-logo {
		img {
			height: 40px;
		}
	}
	.navigation-menu {
		float: right;
		text-align: right;
		ul {
			margin: 0;
			height: 45px;
			list-style-type: none;
			li {
				line-height: 45px;
				font-size: 20px;
				font-weight: 700;
				margin-left: 20px;
				color: #808080;
				display: inline;
				transition: 0.3s;
				&:hover {
					transition: 0.3s;
					color: #1a99b6;
				}
			}
		}
	}
	hr {
		border: 0.5px solid #5b6d9b;
	}
}
