.footer-wrapper {
	padding: 20px 50px;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 60px;
	.footer-title {
		display: flex;
		align-items: center;
		p {
			text-align: center;
			font-size: 24px;
		}
	}
	.footer-content {
		width: 316.438px;
		p {
			letter-spacing: 0.5px;
			text-align: justify;
			text-align-last: justify;
		}
		.last-line {
			p {
				margin: 0;
				letter-spacing: 3px;
			}
		}
	}
	hr {
		border: 0.5px solid #5b6d9b;
	}
}
