.table-wrapper {
	.table-container {
		margin-top: 50px;
		margin-bottom: 80px;
		.table-title {
			p {
				font-size: 24px;
				line-height: 30px;
			}
		}
		.table {
			overflow-x: auto;
			.table-header {
				background-image: linear-gradient(93deg, #16a1c4, #46c49f);
			}
		}
		table {
			// border-collapse: collapse;
			color: #4a4a4a;
			width: 100%;
			tr {
				background-color: #f5f5f5;
				&:nth-child(even) {
					background-color: #ffffff;
				}
			}
			th {
				height: 30px;
				color: white;
				font-style: bold;
			}
			td {
				padding: 3px;
				text-align: center;
				height: 40px;
			}
			.table-top-left {
				border-top-left-radius: 10.5px;
			}
			.table-top-right {
				border-top-right-radius: 10.5px;
			}
			.table-column {
				transition: 0.3s;
				&:hover {
					transition: 0.3s;
					background-color: #f5fdff;
				}
			}
			.table-column-small {
				width: 30px;
			}
			.table-column-big {
				width: 150px;
			}
			.table-column-medium {
				width: 130px;
			}
			.table-align-left {
				text-align: left;
				padding: 0 10px 0 10px;
			}
			.table-align-right {
				text-align: right;
				padding: 0 10px 0 10px;
			}
			.table-column-star {
				position: relative;
			}
			.table-column-delete {
				background-color: white;
				// left: 150px;
				// -ms-transform: translateY(-140%);
				// transform: translateY(-140%);
				// top: 50%;
				// position: absolute;
			}
			.table-form-input {
				height: 25px;
				width: 100%;
				font-size: 14px;
			}
		}
		.table-button {
			margin-top: 20px;
			text-align: right;
			.table-button-edit {
				height: 40px;
				width: 130px;
				color: white;
				background-image: linear-gradient(93deg, #16a1c4, #46c49f);
				border: none;
				border-radius: 10px;
				box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
				font-size: 14px;
			}
			.table-button-ok {
				margin-left: 20px;
				height: 40px;
				width: 130px;
				color: white;
				background-image: linear-gradient(93deg, #16a1c4, #46c49f);
				border: none;
				border-radius: 10px;
				box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
				font-size: 14px;
			}
		}
	}
	br {
		display: block;
		content: '';
		margin-top: 2px;
	}
	hr {
		border: 0.5px solid #5b6d9b;
	}
}
