.table-wrapper {
	.table-container {
		margin-top: 50px;
		margin-bottom: 80px;
		.table-title {
			p {
				font-size: 24px;
				line-height: 30px;
			}
		}
		.table {
			overflow-x: auto;
		}
		table {
			width: 100%;
			tr {
				background-color: #cfd6ec;
				&:nth-child(even) {
					background-color: #eaebf5;
				}
			}
			th {
				height: 30px;
				background: #4472c5;
				color: white;
				font-style: bold;
			}
			td {
				padding: 3px;
				text-align: center;
				height: 30px;
			}
			.table-column-small {
				width: 30px;
			}
			.table-column-big {
				width: 150px;
			}
			.table-column-medium {
				width: 130px;
			}
			.table-align-left {
				text-align: left;
				padding: 0 10px 0 10px;
			}
			.table-align-right {
				text-align: right;
				padding: 0 10px 0 10px;
			}
			.table-column-star {
				position: relative;
			}
			.table-column-delete {
				left: 150px;
				-ms-transform: translateY(-140%);
				transform: translateY(-140%);
				top: 50%;
				position: absolute;
			}
			.table-form-input {
				height: 25px;
				width: 100%;
				font-size: 14px;
			}
		}
		.table-button {
			margin-top: 40px;
			text-align: right;
			.table-button-edit{
				height: 40px;
				width: 130px;
				color: white;
				background-color: #a5a5a5;
				border: 2px solid #787878;
				font-size: 20px;
			}
			.table-button-ok{
				margin-left: 20px;
				height: 40px;
				width: 130px;
				color: white;
				background-color: #5b9bd6;
				border: 2px solid #566f88;
				font-size: 20px;
			}
		}
	}
	br {
		display: block;
		content: '';
		margin-top: 2px;
	}
	hr {
		border: 0.5px solid #5b6d9b;
	}
}
